###### IMPORTANDO BIBLIOTECAS

In [1]:
import pandas as pd
import numpy as np

###### criando dataframe

In [3]:
# criando um dicionario 
dicionario_cientistas = {
    'NOME' : ['Albert Ainstein', 'Isaac Neetown', 'Marie Curie', 'Richard Feynman', 'Maria Goeppert-Mayer'],
    'DATA_NASCIMENTO' : ['14/03/1879', '04/01/1643', '07/11/1867', '11/05/1918', '28/06/1906'],
    'SEXO': ['Masculino', 'Masculino', 'Feminino', 'Masculino', 'Feminino']
}

##### imprimindo na tela o tipo d nasssa variavel dicionario_cientistas

In [6]:
print(f'IMPORTANTE! Vejam o nosso dicionário_cientistas, realmente é um {type(dicionario_cientistas)}\n')

IMPORTANTE! Vejam o nosso dicionário_cientistas, realmente é um <class 'dict'>

###### depois convertemos nosso dicionario em um Dataframe

In [9]:
df_cientistas = pd.DataFrame(dicionario_cientistas)

###### Visualizacao do resultado de todo esse processo

In [11]:
df_cientistas

                   NOME DATA_NASCIMENTO       SEXO
0       Albert Ainstein      14/03/1879  Masculino
1         Isaac Neetown      04/01/1643  Masculino
2           Marie Curie      07/11/1867   Feminino
3       Richard Feynman      11/05/1918  Masculino
4  Maria Goeppert-Mayer      28/06/1906   Feminino